footer {
    height: 100px;
    margin-top: 50px;
    background-color: black;
}

.footer-logo {
    small {
        display: block;
        color: white;
        text-align: center;
        line-height: 100px;
    }
}