.access-section {
    margin-top: 50px;
}

.title.access {
    margin-left: 5%;
}

.content-wrap.access {
    display: flex;
    justify-content: space-between;
    height: 300px;
    .access-map {
        width: 60%;
        height: 100%;
    }
    .access-text {
        width: 40%;
    }
}