.main-flame {
    content: "";
    width: 40%;
    height: 300px;
    margin: 0 auto;
    background-color: black;
}

.thumb-flame__wrap {
    content: "";
    width: 70%;
    height: 50px;
    margin: 30px auto 0px;
    background-color: black;
}