.main-flame {
    content: "";
    width: 60%;
    height: 300px;
    margin: 0 auto;
    background-color: black;
}

.thumb-flame__wrap {
    content: "";
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0px;
    background-color: black;
    @include smart {
        flex-wrap: wrap;
    }
}

.thumb-flame {
    width: 18%;
    background-color: blue;
    @include smart {
        width: 30%;
    }
}