header {
    background-image: url(../img/1564997899958.jpg);
    background-size: 100% 100%;
    color: white;
    height: 500px;
    @include smart {
        height: 300px;
    }
}

.header-logo {
    padding: 10px 20px 0px;
    display: flex;
    justify-content: space-between;
    font-family: $title-font;
    .header-title {
        font-size: 3rem;
        @include sp {
            font-size: 4.5vw;
        }
    }
    .header-nav {
        line-height: 3rem;
        li {
        color: #C0C0C0;
        display: inline-block;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &:after {
            content: '';
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transition: 0.5s;
            background-color: #fff;
            display: block;
            transform-origin: left center;
        }
        &:hover {
            color: white;
            &:after {
            transform: scaleX(1);
            transform-origin: left center;
            }
        }
        @include sp {
            display: none;
        }
    }
    }
}

.header-text {
    margin-top: 200px;
    font-size: 3rem;
    font-family: 'Hannotate SC','HanziPen TC','Avenir Next Condensed',sans-serif;
    text-shadow: 0px 0px 20px rgba(255,255,0,1);
    text-align: center;
    line-height: 6rem;
    // line-height: 480px;
    @include pc {
        br {
            display: none;
        }
    }
    @include smart {
        margin-top: 100px;
        font-size: 4.5vw;
    }
}

// sp

.hum-wrap {
    width: 50px;
    margin-top: 2px;
}

.hum {
    display: none;
    @include sp {
        width: 25px;
        // height: rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        .humburgar-line {
            height: 0.8vw;
            background-color: white;
            display: block;
            &:first-child,
            &:nth-child(2) {
                margin-bottom: 0.7vw;
                width: 100%;
            }
            &:last-child {
                width: 50%;
            }
        }
    }
}

.ddmenu {
    // display: none;
    position: absolute;
    z-index: 1;
    font-size: 0.5vw;
    background-color: #CCCCCC;
    li {
        &::before {
            content: "ãƒ»";
        }
    }
}