.hotspring-text {
    font-family: $text-font;
    line-height: 2rem;
    br {
        display: none;
    }
    @include smart {
        line-height: 3rem;
        text-align: center;
        br {
            display: inline-block;
        }
    }
}

.hotspring-text.first {
    margin-top: 70px;
}

.hotspring-wrap {
    height: 250px;
    display: flex;
    justify-content: space-between;
    .hotspring-content {
        height: 100%;
        width: 50%;
        button {
            display: block;
            margin: 0 auto;
            margin-top: 100px;
            color: white;
            font-family: 'Comic Sans MS','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',;
            font-size: 2rem;
            border: 1px solid #808080;
            border-radius: 10px;
            background-color: #808080;
            box-shadow: 0px 5px black;
            cursor: pointer;
            &:active {
                transform: translateY(5px);
                box-shadow: none;
            }
        }
    }
}