.modal {
    // display: none;
    // position: fixed;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.modal.hotspring {
    width: 60vh;
    height: 60vh;
    background-color: #00000000;
}